---
layout: projects
categories: projects
title: Projects
---
<div class="container">
  <h1>Dave Dawson is a web designer.</h1>
  <h3><a href="http://www.havesomecottlestonpie.com">Cottleston Pie</a> is where he houses the work of his tiny design studio.</h3>
  <ul class="project-list entries">
    {% for post in site.posts %}
      {% if post.categories contains 'projects' %}
      <li class="project summary {{ post.class }}">
        <a href="{{ post.url }}" class="thumb">
          <div class="wrap cf">
            <span class="logo {{ post.logo-class }}">
            </span>
          </div>
        </a>
      </li>
      {% endif %} 
    {% endfor %}
  </ul>
</div>