---
layout: home
categories: projects
---
<div class="container base">
  <h1>Dave Dawson is a graphic designer.</h1>
  <h2>This is his portfolio.</h2>
  <ul class="project-list entries">
    {% for post in site.posts %}
      {% if post.categories contains 'projects' %}
      <li class="project summary {{ post.class }}">
        <a href="{{ post.url }}" class="thumb">
          <div class="wrap cf">
            <span class="logo {{ post.logo-class }}">
            </span>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>