.icon-access_together_logo {
	background-image: url('png/access_together_logo.png');
	background-repeat: no-repeat;
}
.icon-arm_logo {
	background-image: url('png/arm_logo.png');
	background-repeat: no-repeat;
}
.icon-fdr_logo {
	background-image: url('png/fdr_logo.png');
	background-repeat: no-repeat;
}
.icon-filmlinc_logo {
	background-image: url('png/filmlinc_logo.png');
	background-repeat: no-repeat;
}
.icon-hrc_logo {
	background-image: url('png/hrc_logo.png');
	background-repeat: no-repeat;
}
.icon-ndnf_logo {
	background-image: url('png/ndnf_logo.png');
	background-repeat: no-repeat;
}
.icon-rb_logo {
	background-image: url('png/rb_logo.png');
	background-repeat: no-repeat;
}
.icon-surfrider_logo {
	background-image: url('png/surfrider_logo.png');
	background-repeat: no-repeat;
}
.icon-pih_logo {
	background-image: url('png/pih_logo.png');
	background-repeat: no-repeat;
}
.icon-wntda_logo {
	background-image: url('png/wntda_logo.png');
	background-repeat: no-repeat;
}
