<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.meta-description %}{{ page.meta-description }} {% else %}{{ site.meta-description | strip_html | strip_newlines }} {% endif %}">
  {% if page.meta-fb-image %}
    <meta property="og:image" content="{{ site.url }}{{ page.meta-fb-image }}">
  {% endif %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.meta-description %}{{ page.meta-description }} {% else %}{{ site.meta-description | strip_html | strip_newlines }} {% endif %}">

  <title>{{ page.title }}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.typekit.net/lss0wwg.css">

  <!--[if lt IE 9]>
    <script src="/js/ie.js"></script>
  <![endif]-->
  <!--[if (!IE) | (gt IE 9)]><!-->
  <!--<![endif]-->
  <!--[if IE 9]>
  <link rel="stylesheet" href="/stylesheets/gridset-ie-9.css" />
  <![endif]-->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="/stylesheets/gridset-ie-lte8.css" />
  <![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/source.min.js"></script>
  <script src="/js/index.min.js"></script>
</head>
