{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
{% capture id_prefix %}{% if post %}post{% else %}page{% endif %}{% endcapture %}
{% capture id %}{{ id_prefix }}{{ page.url | replace:'/',' ' }}{% endcapture %}

<body class="{{ layout }} {{ id }}">
  <section class="ks">
    <div class="wrap">
      <!--<div class="ks-embed">
        <iframe frameborder="0" height="300" scrolling="no" src="https://www.kickstarter.com/projects/davedawson/its-a-month-giant-tear-off-2015-calendar/widget/card.html?v=2" width="220"></iframe>
      </div> -->
      <div class="description">
        <h1><a href="https://www.kickstarter.com/projects/davedawson/its-a-month-giant-tear-off-2015-calendar">Focus on the big picture</a></h1>
        <h3><a href="https://www.kickstarter.com/projects/davedawson/its-a-month-giant-tear-off-2015-calendar">It’s a Month is on Kickstarter and it needs your help! Contribute to printing these enormous calendars!</a></h3>
      </div>
      <a href="https://www.kickstarter.com/projects/davedawson/its-a-month-giant-tear-off-2015-calendar" class="button">Back It's a Month <br /> on Kickstarter →</a>
    </div>
  </section>
  <section id="header" class="cf">
    <ul class="container nav cf">
      <li class="nav-projects"><a href="/projects/">Projects</a></li>
      <li class="nav-blog"><a href="/blog/">Blog</a></li>
      <li class="nav-logo cf"><a href="/" class="cf"><strong>D</strong><em class="ave">ave</em> <strong>D</strong><em class="awson">awson</em></a></li>
      <li class="nav-about"><a href="/about/">About</a></li>
      <li class="nav-contact"><a href="mailto:dave@iamdavedawson.com">Contact <em>Opens an email window</em></a></li>
    </ul>
  </section><!-- /#header-->
