.interior {
    .text-block {
        margin-bottom: 25vh;
    }
    &.page-about {
        .image {
            @include respond-to(medium-and-above) {
                @include gs-span(d, 10, 11);
                margin-top: 2rem;
            }
        }
    }
    &.page-adventures {
        .adventure {
            clear: both;
        }
        .text-block {
            @include respond-to(medium-and-above) {
                @include gs-span(d, 3, 10);
            }
            .image {
                @include respond-to(medium-and-above) {
                    @include gs-span(d, 1, 4);
                }
            }
            .description {
                @include respond-to(medium-and-above) {
                    @include gs-span(d, 5, 12);
                }
            }
        }
    }
    &.page-password {
        height: 100%;
        .page-content, .wrap {
            height: 100%;
        }
        background: $color-background;
        text-align: center;
        .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 300px;
        }
        button {
            background: $color-blue;
            color: #fff;
            border: 0;
            border-radius: 9px;
            padding: 10px 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        input {
            padding: 5px 10px;
            border: 1px solid $color-border;
        }
        .note {
            margin-top: 40px;
            justify-self: baseline;
        }
        .box {

        }
    }
}
