 *  { 
  transition: all 0.1s linear; 
  -moz-transition: all 0.1s linear; 
  -webkit-transition: all 0.1s linear; 
  -o-transition: all 0.1s linear; 
  @include borderBox;
 }

body { 
  font-family: $typeSans;
  color: $color-text;
}

// Body Styles
html, body, section {
  margin: 0;
  padding: 0;
}
.page-content {
  padding: 2%;
  // Applies padding to match page border
  @include respond-to(medium-and-above) {
    padding: 50px;
  }
}

.container { 
  position: relative;
  margin: 0 auto;
  @include respond-to(handhelds) {
    padding: 0 3%;
  }
  @include respond-to(medium-screens) {
    margin: 0 auto;
    padding: 0 3%;
  }
  @include respond-to(wide-screens) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1%;
  }
  @include respond-to(extra-wide-screens) {
    max-width: 2000px;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

// Page padding
@include respond-to(medium-and-above) {
  #top, #bottom, #left, #right {
      background: #fff;
      position: fixed;
      z-index: 9;
  }
  #left, #right {
      top: 0; bottom: 0;
      width: 50px;
      }
      #left { left: 0; }
      #right { right: 0; }
      
  #top, #bottom {
      left: 0; right: 0;
      height: 50px;
      }
      #top { top: 0; }
      #bottom { bottom: 0; }
  .bg {
      // background: url(/img/intro-bg-gradient.png) repeat-x center top;
      // position: fixed;
      // height: 72vh;
  }
  #top {
      z-index: 2;
  }
}



.text-block {
  clear: both;
  @include respond-to(medium-and-above) {
    @include gs-span(d, 3, 10);
  }
  @include respond-to(wide-and-above) {
    @include gs-span(d, 3, 8);
  }
}