.header {
    margin-top: 70px;
    @include respond-to(medium-and-above) {
        margin-top: 30vh;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $color-accent;
        text-decoration: none;
    }
}