.page-landing {
    .intro {
        background: $color-red;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5%;
        width: 100%;
        height: 95vh;
        position: relative;
        @include respond-to(medium-and-above) {
            height: calc(95vh - 100px);
        }
        h3 {
            font-size: 65px;
            font-weight: 900;
            font-style: italic;
            letter-spacing: -0.07em;
            z-index: 2;
            margin: 0;
            color: #fff;
            display: inline-block;
            white-space: nowrap;
            // width: 900px;
            // position: absolute;
            // bottom: 0;
            // left: 0;
            @include respond-to(medium-and-above) {
                font-size: 102px;
                // top: -210px;
            }
            @include respond-to(wide-and-above) {
                font-size: 180px;
                // top: -210px;
            }
            span {
            }
        }
        img {
            border: 20px solid #fff;
            width: auto;
            max-width: 400px;
        }
        .activities {
            width: 100%;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                width: 100%;
                // height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(.happy){
                    .title-wrap {
                        position: relative;
                        margin-top: -110px;
                        z-index: 2;
                        max-width: 900px;
                        height: 20vh;
                        display: flex;
                        align-items: flex-end;
                        @include respond-to(medium-and-above) {
                            margin-top: -210px;
                        }
                        @include respond-to(wide-and-above) {
                            // margin-top: -230px;
                        }
                        
                    }
                }
                // Flickity animation 
                img, h3 {
                    opacity: 0 !important;
                    visibility: hidden;
                }
                span {
                    position: relative;
                    top: 40px;
                    transition: top 1s 1s;
                }
                &:not(.is-selected){
                    
                    img {
                        animation: fadeOut ease 0.3s;
                        animation-delay: 0.3s;
                    }
                    h3 {
                        opacity: 0 !important;
                    }
                    span {
                        top: 40px;
                    }
                }
                &.is-selected {
                    img {
                        visibility: visible;
                        opacity: 1 !important;
                        animation: fadeIn ease 2s;
                    }
                    h3 {
                        visibility: visible;
                        opacity: 1 !important;
                        animation: fadeIn ease 1s;
                    }
                    span {
                        top: 0px;
                    }
                    @for $i from 1 through 20 {
                        span:nth-child(#{$i}) {
                            transition-delay: $i * (1s / 12);
                        }
                    }
                }
                &.happy {
                    height: 100%;
                    h3 {
                        font-size: 50px !important;
                    }
                }
            }
        }
        .flickity-prev-next-button.previous {
            display: none;
        }
        .button-wrap {
            width: 100%;
            text-align: center;
            bottom: 50px;
            position: absolute;
            img {
                border: 0;
                opacity: 0.5;
                transition: all 0.2s;
                &:hover {
                    opacity: 1;
                    transform: rotate(12deg);
                    cursor: pointer;
                }
                &:active {
                    transform: rotate(45deg);
                }
            }
        }
    }
    .overview {
        background: rgb(155,184,228);
        background: linear-gradient(180deg, rgba(156,216,229,1) 0%, rgba(155,184,228,1) 100%);
        padding: 5vh 0;
        @include respond-to(medium-and-above) {
            padding: 20vh 0;
        }
        color: #fff;
        p, h2, h3, h4, a {
            color: #fff;
        }
        h3 {
            display: inline-block;
            padding: 0.5rem;
            margin-left: -0.5rem;
        }
        @include clearfix;
        .text-block {
            @include respond-to(medium-and-above) {
                @include gs-span(d, 2, 10);
            }
            @include respond-to(wide-and-above) {
                @include gs-span(d, 3, 9);
            }
        }
        .lede {
            // Special sizing and colors for the overview.
            margin: 10vh 0;
            @include respond-to(medium-and-above) {
                margin: 25vh 0;
            }
            h2 {
                font-size: 42px;
                @include respond-to(medium-and-above) {
                    font-size: 58px;
                }
            }
            p {
                font-size: 24px;
                @include respond-to(medium-and-above) {
                    font-size: 34px;
                }
            }
        }
        .priorities {
            margin: 0 0 5vh;
            @include respond-to(medium-and-above) {
                margin: 0 0 50vh;
            }
            .priority {
                p {
                    font-size: 22px;
                }
                &.o-h {
                    clear: both;
                    @include respond-to(medium-and-above) {
                        @include gs-span(d, 1, 6);
                        padding-right: 1%;
                    }
                }
                &.t-a {
                    @include respond-to(medium-and-above) {
                        @include gs-span(d, 7, 12);
                        padding-left: 1%;
                    }
                }
                &.c-p {
                    h3 {
                        font-size: 32px;
                        color: $color-text;
                    }
                    p {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .work-areas {
        background: #FCFDFD;
        padding: 10vh 0 10vh;
        @include respond-to(medium-and-above) {
            padding: 30vh 0 30vh;
        }
        .lede {
            .text-block {
                margin-bottom: 10vh;
                @include respond-to(medium-and-above) {
                    // width: gs-width(d, 3, 9, false, true);
                }
            }
        }
        .logo-block {
            clear: both;
            padding: 0 2%;
            align-items: center;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            column-gap: 2rem;
            row-gap: 1.5rem;
            margin: 10vh auto 10vh;
            @include respond-to(medium-and-above) {
                margin: 15vh auto 15vh;
                column-gap: 5%;
                row-gap: 3rem;
            }
            @include respond-to(wide-and-above) {
                row-gap: 4rem;
                margin: 30vh auto 30vh;
                column-gap: 5%;
                grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
            }
            @include respond-to(extra-wide-screens) {
                column-gap: 1%;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }
            
            li {
                // margin: 1%;
                position: relative;
                animation: 1s ease-in-out both fade-in;
                text-align: center;
                img {
                    opacity: 0.4;    
                    max-width: 150px;
                    max-height: 75px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                
            }
            // Stagger image loading
            @for $i from 1 through 20 {
                li:nth-child(#{$i}) {
                    animation-delay: $i * (1s / 10);
                }
            }
        }
        .cp-intro {
            margin-bottom: 10vh;
            @include respond-to(medium-and-above) {
                width: gs-width(d, 3, 10, false, true);
                margin-bottom: 30vh;
            }
            @include respond-to(wide-and-above) {
                width: gs-width(d, 3, 6, false, true);
            }
        }
        .capability {
            clear: both;
            margin: 5vh 0;
            @include respond-to(medium-and-above) {
                margin: 25vh 0;
            }
        }
        .quote {
            clear: both;
            display: flex;
            text-align: center;
            width: 100%;
        }
        .projects {
            clear: both;
            padding: 5vh 0 0;
            @include respond-to(medium-and-above) {
                padding: 10vh 0 0;
            }
            @include respond-to(wide-and-above) {
                display: flex;
                align-items: center;
            }
            img {
                padding: 1%;
                @include respond-to(wide-and-above) {
                    width: gs-width(d, 1, 7, false, true);
                    margin-right: gs-gutter(d, false, true);
                }
            }
            .project-descriptions {
                @include respond-to(wide-and-above) {
                    width: gs-width(d, 8, 11, false, true);
                }
                li {
                    border-bottom: 1px solid $color-border;
                    padding: 30px 0;
                    @extend p.small;
                    strong {
                        display: block;
                        margin-bottom: 4px;
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }
    blockquote {
        margin: 10vh auto;
        @include respond-to(medium-and-above) {
            width: gs-width(d, 1, 8, false, true);
            margin: 0 auto;
        }
        @include respond-to(extra-wide-screens) {
            width: gs-width(d, 1, 5, false, true);
        }
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
      top: 40px;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0px;
    }
}

@keyframes fade-in-headline {
    0% {
      opacity: 0;
      top: 40px;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0px;
    }
}

@keyframes fade-out-headline {
    0% {
      opacity: 1;
      top: 40px;
    }
    50% {
        opacity: 0;
    }
    100% {
        top: 0px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    35% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideText {
    0% {
    //   opacity: 1;
      margin-top: 40px;
    }
    50% {
        // opacity: 0;
    }
    100% {
        margin-top: 0px;
    }
}