@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Marais';
  src: url("/fonts/marais_ultra-webfont.eot");
  src: url("/fonts/marais_ultra-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/marais_ultra-webfont.woff") format("woff"), url("/fonts/marais_ultra-webfont.ttf") format("truetype"), url("/fonts/marais_ultra-webfont.svg#maraisultra") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.required {
  color: red;
}

.floatl {
  float: left;
  margin: 0;
  padding: 0 10px 10px 0;
}

.floatr {
  float: right;
  margin: 0;
  padding: 0 0 10px 10px;
}

.pic img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

::-moz-selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  background: #ffffff;
  text-legibility: optimizeLegibility;
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #0095a1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #00666e;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 94%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  position: relative;
}

body {
  background: rgba(235, 235, 222, 0.1);
}

#header {
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#header .nav {
  text-align: center;
}
@media only screen and (min-width: 972px) {
  #header .nav {
    margin: 2em auto;
    width: 50%;
  }
}
@media only screen and (min-width: 972px) {
  #header .nav {
    width: 100%;
  }
}
#header .nav li {
  display: inline-block;
  float: none;
  margin: 1em 0;
  width: auto;
  margin-top: 80px;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  padding: 10px;
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500px;
}
@media only screen and (min-width: 972px) {
  #header .nav li {
    margin: 1em 4%;
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  #header .nav li {
    font-size: 16px;
    padding: 10px 5px;
  }
}
#header .nav li a {
  color: #444444;
}
#header .nav li a:hover {
  color: #000000;
}
#header .nav li.nav-logo {
  font-family: "Marais", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin: 0;
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo {
    position: relative;
    top: auto;
    left: auto;
  }
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo {
    width: 60px;
  }
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo:hover {
    width: 165px;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}
#header .nav li.nav-logo a {
  border: 3px solid #0095a1;
  color: #0095a1;
  padding: 10px 10px 8px;
  display: block;
  position: relative;
  left: -50%;
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo a {
    left: auto;
  }
}
#header .nav li.nav-logo strong {
  font-weight: normal;
  display: inline;
  float: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo em {
    display: inline-block;
    float: none;
    opacity: 0;
    height: 0;
    width: 0;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-logo:hover em {
    display: inline-block;
    opacity: 1;
    height: auto;
    width: 100px;
    -moz-transition: opacity 0.8s ease-in 0s, height 0.4s ease-in, width 0.4s ease-in, margin 0.1s ease-in;
    -o-transition: opacity 0.8s ease-in 0s, height 0.4s ease-in, width 0.4s ease-in, margin 0.1s ease-in;
    -webkit-transition: opacity 0.8s ease-in, height 0.4s ease-in, width 0.4s ease-in, margin 0.1s ease-in;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
    transition: opacity 0.8s ease-in 0s, height 0.4s ease-in, width 0.4s ease-in, margin 0.1s ease-in;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  #header .nav li.nav-logo:hover em.ave {
    width: 20px;
    margin-right: 10px;
  }
  #header .nav li.nav-logo:hover em.awson {
    width: 55px;
    margin-left: 0.5px;
  }
}
#header .nav li.nav-contact {
  position: relative;
}
#header .nav li.nav-contact:hover em {
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header .nav li.nav-contact em {
  display: none;
}
@media only screen and (min-width: 972px) {
  #header .nav li.nav-contact em {
    display: block;
    opacity: 0;
    text-align: center;
    font-size: 13px;
    color: #aaaaaa;
    top: 35px;
    position: absolute;
    width: 200%;
    left: -50%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
#header #logo h1 a {
  background: #0095a1;
  color: #ffffff;
  text-align: center;
}

#footer {
  background: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  clear: both;
  padding: 2em;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer p {
  color: #444444;
  text-align: center;
  font-size: 14px;
}
#footer span {
  margin: 0 1em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: transparentize #faf9f3, 0.2;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

#content {
  padding: 1em 0 0;
}
@media only screen and (min-width: 972px) {
  #content {
    padding: 4em 0 0;
  }
}

.entry h1 {
  font-family: "Marais", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.entry h2 {
  font-family: "skolar", Times, "Times New Roman", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  margin: 1.5em 0 0.55em;
}
.entry h3 {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #444444;
  text-transform: none;
  line-height: 24px;
  margin: 1.2em 0 0.3em;
  letter-spacing: 0;
}
.entry h4 {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  line-height: 24px;
  margin: 20px 0 5px;
  letter-spacing: 0.2em;
}
.entry em {
  font-style: italic;
}
.entry strong {
  font-weight: bold;
}
.entry p {
  font-family: "skolar", Times, "Times New Roman", Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 18px;
}
.entry ul, .entry ol {
  margin: 0.5em 0 1em;
  padding: 0;
}
.entry ul li, .entry ol li {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  font-size: 18px;
  line-height: 26px;
  list-style-type: disc;
  margin: 0 0 10px 1em;
  padding: 0;
}
@media only screen and (min-width: 972px) {
  .entry ul li, .entry ol li {
    margin: 0 0 10px 0;
  }
}
.entry a, .entry a:active, .entry a:visited {
  color: #0095a1;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.entry a:hover, .entry a:active {
  color: #00373b;
}
.entry a:hover, .entry a:focus {
  color: #00373b;
}
.entry .note {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  font-style: italic;
  font-size: 0.85em;
  color: #5e5e5e;
}
.entry .focus {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #444444;
  text-transform: normal;
  line-height: 1.2em;
  font-size: 1rem;
}

.pic {
  margin: 30px 0;
  -moz-box-shadow: transparent 0px 0px 5px;
  -webkit-box-shadow: transparent 0px 0px 5px;
  box-shadow: transparent 0px 0px 5px;
}
.pic img {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pic p, .pic p:first-of-type {
  width: 100%;
  padding: 0.7em;
  margin: 0;
  text-align: center;
  font: 100 italic 14px "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif !important;
  color: #464646;
  background: rgba(68, 68, 68, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pic:hover p {
  color: #464646;
  background: rgba(68, 68, 68, 0.2);
}
.pic:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
}

.blog-list .summary {
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.05);
}
.blog-list .summary h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 0.4em;
  font-family: "Marais", Helvetica, Arial, sans-serif;
}
.blog-list .summary p {
  font-size: 18px;
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 1rem;
  line-height: 1.4rem;
}
.blog-list .summary time {
  margin-top: 1.5em;
  display: block;
}

.entry p:first-of-type {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  color: #444444;
  text-transform: normal;
  line-height: 2.3rem;
}
@media only screen and (min-width: 972px) {
  .entry p:first-of-type {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .entry p:first-of-type {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.blog.entry h1 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}
.blog.entry time {
  margin-bottom: 2rem;
}

time {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 0.9em;
  color: #aaaaaa;
}

.sidebar {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar p, .sidebar p:first-of-type {
  font-family: "skolar", Times, "Times New Roman", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #5e5e5e;
  margin: 0 0 18px;
}
.sidebar ul li {
  font-size: 18px;
}
.sidebar .pic {
  margin-top: 0;
}

.ks {
  background-color: #2bde73;
  color: #fff;
  padding: 20px 5%;
}
.ks .description {
  width: 60%;
  float: left;
}
@media only screen and (max-width: 767px) {
  .ks .description {
    width: 100%;
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .ks .description {
    width: 100%;
    float: none;
  }
}
.ks a {
  color: #fff;
}
.ks .wrap {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 0;
}
.ks .wrap:before, .ks .wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.ks .wrap:after {
  clear: both;
}
.ks h1 {
  color: #fff;
  text-align: left;
  font-size: 36px !important;
  line-height: 36px;
  margin-bottom: 0px !important;
  text-align: left !important;
  margin-top: 5px;
  font-weight: bold !important;
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif !important;
}
.ks h3 {
  text-align: left !important;
  font-size: 18px !important;
  line-height: 22px;
  margin-bottom: 15px;
  font-style: normal !important;
  font-weight: normal !important;
}
.ks .button {
  background: white;
  padding: 18px 20px;
  font-size: 20px;
  color: #2bde73;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .ks .button {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .ks .button {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .ks h1, .ks h3, .ks .button {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .ks h1, .ks h3, .ks .button {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.ks .button {
  float: right;
  width: 30%;
  margin-left: 5%;
  text-align: center;
}
.ks .ks-embed {
  float: left;
  width: 30%;
  margin-right: 5%;
}
@media only screen and (max-width: 767px) {
  .ks .ks-embed {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .ks .ks-embed {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}

.layout-home {
  background: #252727;
  color: #fff;
}
.layout-home #content, .layout-home .container {
  height: 100%;
}
.layout-home #content {
  padding-top: 0;
  min-height: 0;
}
.layout-home #content:before, .layout-home #content:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.layout-home #content:after {
  clear: both;
}
.layout-home .title-wrap {
  height: 100%;
  background: #1b1d1d;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 60px;
}
.layout-home .title-wrap ul {
  text-align: center;
  margin-top: 12px;
}
.layout-home .title-wrap ul li {
  font-size: 18px;
  line-height: 24px;
  display: inline;
  color: #bdbfbf;
}
.layout-home .title-wrap ul li:after {
  content: "•";
  padding: 20px;
  color: #575757;
}
.layout-home .title-wrap ul li:last-child:after {
  content: "";
  padding: 0;
}
.layout-home .waving {
  text-align: center;
  font-size: 45px;
  width: 100%;
  display: block;
}
.layout-home h1 {
  text-align: center;
  max-width: 600px;
  margin: 40px auto 40px;
}
.layout-home h1 img {
  width: 100%;
}
.layout-home h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}
.layout-home .helpful-list {
  max-width: 900px;
  margin: 0 auto;
}
.layout-home .helpful-list .row {
  clear: both;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.layout-home .helpful-list .item {
  border: 2px solid #fff;
  padding: 30px 50px 50px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.layout-home .helpful-list .item:hover {
  border-color: #fff;
}
@media only screen and (min-width: 972px) {
  .layout-home .helpful-list .item {
    width: 48.51074%;
    float: left;
  }
}
@media only screen and (min-width: 972px) {
  .layout-home .helpful-list .item:nth-child(even) {
    margin-left: auto;
  }
}
@media only screen and (min-width: 972px) {
  .layout-home .helpful-list .item.cp {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 99.95117%;
    position: relative;
    display: flex;
    padding-left: 0;
  }
  .layout-home .helpful-list .item.cp .logo {
    width: 50%;
    position: relative;
    float: left;
  }
  .layout-home .helpful-list .item.cp .logo .wrap {
    min-height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    /* add */
    justify-content: center;
    /* add to align horizontal */
    align-items: center;
    /* add to align vertical */
  }
  .layout-home .helpful-list .item.cp .logo .wrap:before, .layout-home .helpful-list .item.cp .logo .wrap:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .layout-home .helpful-list .item.cp .logo .wrap:after {
    clear: both;
  }
  .layout-home .helpful-list .item.cp .logo img {
    max-width: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .layout-home .helpful-list .item.cp .description {
    width: 50%;
    float: right;
    text-align: left;
    margin-left: 30px;
  }
  .layout-home .helpful-list .item.cp .description h2 {
    text-align: left;
  }
}
.layout-home .helpful-list .item.cp h2 {
  font-size: 30px;
  line-height: 36px;
}
.layout-home .helpful-list .item .logo {
  margin: 30px auto;
}
.layout-home .helpful-list .item .logo img {
  width: 100%;
  max-width: 300px;
}
.layout-home .helpful-list .item.usa img {
  margin-top: -15px;
}
.layout-home .helpful-list .item.usa .cta a {
  font-style: italic;
  font-weight: 100;
}
.layout-home .helpful-list .item.get-biked img {
  max-width: 150px;
}
.layout-home .helpful-list .item.the-agency img {
  margin-top: -30px;
  max-width: 120px;
}
.layout-home .helpful-list .item h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
}
.layout-home .helpful-list .item p {
  font-size: 16px;
  line-height: 24px;
  color: #bdbfbf;
}
.layout-home .helpful-list .item a {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.layout-home .helpful-list .item .cta {
  color: #fff;
  margin: 30px 0 0 0;
}
.layout-home .helpful-list .item .cta a {
  color: #fff;
}
.layout-home .helpful-list .item a {
  color: #fff;
}

.blog-entry h1 {
  font-size: 3.4rem;
}

.page.blog #content {
  margin-bottom: 4em;
}

.blog.entry blockquote.small {
  margin: 20px 20px 20px 20px;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 972px) {
  .blog.entry blockquote.small {
    margin: 20px 20px 20px -20%;
    width: 50%;
  }
}
.blog.entry blockquote span {
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.2em;
  font-size: 14px;
  margin-top: 15px;
  color: rgba(68, 68, 68, 0.7);
}
.blog.entry blockquote:before {
  content: '\201C';
  font-size: 60px;
  color: rgba(68, 68, 68, 0.3);
  width: 30px;
  top: 34px;
  position: relative;
  right: 10px;
  margin-left: -27px;
}

body.comfort-is-overrated {
  background: #000;
  color: white;
}
body.comfort-is-overrated .comfort-logo {
  display: block;
}
body.comfort-is-overrated .entry p, body.comfort-is-overrated .entry h1, body.comfort-is-overrated .entry h2, body.comfort-is-overrated .entry ul, body.comfort-is-overrated .entry li {
  color: #dadada;
}
body.comfort-is-overrated .entry h1 {
  color: #fff;
  display: none;
}
body.comfort-is-overrated .entry h1.headline {
  display: block;
}

.impact {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
}
@media only screen and (min-width: 972px) {
  .impact {
    height: 694px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .impact {
    height: 400px;
  }
}
.impact .large {
  height: 850px;
  overflow: hidden;
  position: absolute;
}

.browser {
  width: 82.1601%;
  margin-left: 8.8815%;
  top: 40px;
  position: relative;
  background: #dcdcdc;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 40px;
}
.browser img {
  display: relative;
  max-width: 100%;
  width: overflow;
}
.browser .chrome {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.browser .chrome .url {
  background: #eeeeee;
  padding: 4px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.browser .chrome .url:hover {
  background: #ffffff;
}
.browser .chrome .url p {
  margin: 0;
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #464646;
  text-transform: normal;
  line-height: 18px;
}
.browser .chrome .url a {
  font-size: 15px;
  line-height: 18px;
  position: relative;
  color: #a8a8a8;
  width: 100%;
  display: block;
  margin-top: 4px;
}
.browser .chrome .url a:hover .url {
  background: #ffffff;
}

.nav-wrap h2 {
  text-align: center;
  margin-bottom: 2em;
}
@media only screen and (min-width: 972px) {
  .nav-wrap h2 {
    display: none;
  }
}

.page-navigation {
  position: static !important;
  border-top: 3px solid rgba(68, 68, 68, 0.4);
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #a8a8a8;
  text-transform: normal;
  line-height: 14px;
  /*
  .left {
  	float: left;
  }
  .right {
  	float: right;
  	text-align: right;
  } */
}
@media only screen and (min-width: 972px) {
  .page-navigation {
    margin-top: 6em;
    padding-top: 3em;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .page-navigation.scroll-to-fixed-fixed {
    position: fixed !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .page-navigation.scroll-to-fixed-fixed {
    position: static !important;
  }
}
.page-navigation .wrap {
  background: #edede1;
  margin: 0 auto;
}
.page-navigation .left, .page-navigation .right {
  width: 100%;
  float: none;
}
@media only screen and (min-width: 972px) {
  .page-navigation .left, .page-navigation .right {
    width: 50%;
    float: left;
  }
}
@media only screen and (min-width: 972px) {
  .page-navigation .left {
    text-align: right;
  }
}
.page-navigation .left .arrow, .page-navigation .right .arrow {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  background: transparent;
  margin: 30px auto;
  text-align: center;
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow, .page-navigation .right .arrow {
    width: 100%;
    padding: 15px;
    display: inline-block;
    float: right;
    background: #f8f8f5;
    color: #444444;
    line-height: 1.2em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.page-navigation .left .arrow strong, .page-navigation .right .arrow strong {
  display: none;
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow strong, .page-navigation .right .arrow strong {
    display: block;
    float: left;
    margin: 0 5px;
  }
}
.page-navigation .left .arrow span, .page-navigation .right .arrow span {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow span, .page-navigation .right .arrow span {
    display: none;
    width: 0;
    opacity: 0;
    font-size: 14px;
    position: relative;
    top: 1px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.page-navigation .left .arrow:hover, .page-navigation .right .arrow:hover {
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow:hover, .page-navigation .right .arrow:hover {
    background: #e3e3d7;
  }
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow:hover span, .page-navigation .right .arrow:hover span {
    display: block;
    float: left;
    width: auto;
    opacity: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 972px) {
  .page-navigation .left .arrow {
    float: left;
    border-right: 1px solid #e3e3d7;
  }
  .page-navigation .left .arrow span {
    float: right !important;
  }
  .page-navigation .left .arrow strong {
    float: right;
  }
}

.layout-projects #content {
  margin: 0 auto 4em;
}
.layout-projects h1 {
  text-align: center;
  font-family: "Marais", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  font-size: 2em;
  margin-bottom: 0.2em;
}
@media only screen and (min-width: 972px) {
  .layout-projects h1 {
    font-size: 3em;
  }
}
.layout-projects h2 {
  text-align: left;
  margin: 0.5em auto 0;
  font-size: 1.2rem;
  line-height: 1.3em;
  color: rgba(68, 68, 68, 0.75);
}
@media only screen and (min-width: 972px) {
  .layout-projects h2 {
    font-size: 1.4rem;
    line-height: 1.3em;
    text-align: center;
    width: 60%;
  }
}
.layout-projects h3 {
  text-align: center;
  margin: 0.5em auto 1.2em;
  font-size: 1rem;
  font-style: italic;
  color: rgba(68, 68, 68, 0.6);
}
.layout-projects .project-list {
  margin-top: 50px;
}

.project-specific {
  padding-top: 0;
  margin-bottom: 6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*
  &.pih {
    .impact {
      background: url("/img/projects/large/pih-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.ndnf {
    .impact {
      background: url("/img/projects/large/ndnf-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.fdr {
    .impact {
      background: url("/img/projects/large/fdr-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.arm {
    .impact {
      background: url("/img/projects/large/arm-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.hrc {
    .impact {
      background: url("/img/projects/large/hrc-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.at {
    .impact {
      background: url("/img/projects/large/at-large.jpg") center no-repeat;
      background-size: cover;
    }
  } */
}
.project-specific .intro {
  text-align: center;
  padding: 1em 5% 4em;
  font-family: "Marais", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .project-specific .intro {
    padding: 4em 5%;
  }
}
.project-specific .intro p {
  width: 70%;
  margin: 0 auto;
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: rgba(68, 68, 68, 0.7);
  text-transform: normal;
  line-height: 1.4em;
}
@media only screen and (min-width: 972px) {
  .project-specific .intro p {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .project-specific .intro p {
    font-size: 1.2rem;
  }
}
.project-specific .intro h1 {
  font-size: 3rem;
  line-height: 3.1rem;
  margin-bottom: 0.3rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 972px) {
  .project-specific .intro h1 {
    font-size: 5.6rem;
    line-height: 6.7rem;
    margin-bottom: 1.1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .project-specific .intro h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
.project-specific .details {
  background: rgba(235, 235, 222, 0.2);
  width: 100%;
  margin: 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.project-specific .details p {
  font-size: 18px;
  line-height: 20px;
}
.project-specific .details h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #777777;
}
.project-specific .beef {
  margin-top: 2rem;
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .project-specific .beef {
    margin-top: 6rem;
  }
}
.project-specific .project-info {
  border-top: 0;
  margin: 6em 0 0 0;
}
.project-specific .project-info .description {
  font-family: "ff-tisa-sans-web-pro", "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #444444;
  text-transform: normal;
  line-height: 24px;
}
.project-specific .project-info .description a {
  display: block;
  font-weight: bold;
}
.project-specific .impact {
  background-size: cover;
  background-color: #444444;
}

.project-list .summary {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 200px;
  margin: 4% 0;
  background: #000;
  background-size: cover;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 972px) {
  .project-list .summary {
    width: 46.6225%;
    float: left;
    margin: 1.68875%;
    height: 30em;
    background-size: cover;
    background-position: center;
  }
  .project-list .summary:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
  }
  .project-list .summary:hover:after {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 768px) and (max-width: 971px) {
  .project-list .summary {
    width: 100%;
    float: none;
    height: 20em;
    margin: 1.68875% 0;
  }
}
.project-list .summary .thumb {
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
}
.project-list .summary .thumb .wrap {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.project-list .summary .large {
  width: 100%;
  margin: -5%;
}
.project-list .summary .logo {
  width: 60%;
  display: block;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  min-height: 150px;
  position: relative;
  z-index: 3;
  -webkit-filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow */
}
.project-list .summary.pih {
  background-image: url("/img/projects/square/pih-square-blurred.jpg");
}
.project-list .summary.pih:after {
  background-image: url("/img/projects/square/pih-square-focused.jpg");
}
.project-list .summary.ndnf {
  background-image: url("/img/projects/square/ndnf-square-blurred.jpg");
}
.project-list .summary.ndnf:after {
  background-image: url("/img/projects/square/ndnf-square-focused.jpg");
}
.project-list .summary.fdr {
  background-image: url("/img/projects/square/fdr-square-blurred.jpg");
}
.project-list .summary.fdr:after {
  background-image: url("/img/projects/square/fdr-square-focused.jpg");
}
.project-list .summary.arm {
  background-image: url("/img/projects/square/arm-square-blurred.jpg");
}
.project-list .summary.arm:after {
  background-image: url("/img/projects/square/arm-square-focused.jpg");
}
.project-list .summary.hrc {
  background-image: url("/img/projects/square/hrc-square-blurred.jpg");
}
.project-list .summary.hrc:after {
  background-image: url("/img/projects/square/hrc-square-focused.jpg");
}
.project-list .summary.at {
  background-image: url("/img/projects/square/at-square-blurred.jpg");
}
.project-list .summary.at:after {
  background-image: url("/img/projects/square/at-square-focused.jpg");
}
.project-list .summary.wntd {
  background-image: url("/img/projects/square/wntd-square-blurred.jpg");
}
.project-list .summary.wntd:after {
  background-image: url("/img/projects/square/wntd-square-focused.jpg");
}
.project-list .summary.filmlinc {
  background-image: url("/img/projects/square/filmlinc-square-blurred.jpg");
}
.project-list .summary.filmlinc:after {
  background-image: url("/img/projects/square/filmlinc-square-focused.jpg");
}
.project-list .summary.surfrider {
  background-image: url("/img/projects/square/surfrider-square-blurred.jpg");
}
.project-list .summary.surfrider:after {
  background-image: url("/img/projects/square/surfrider-square-focused.jpg");
}
.project-list .summary.rb {
  background-image: url("/img/projects/square/rb-square-blurred.jpg");
}
.project-list .summary.rb:after {
  background-image: url("/img/projects/square/rb-square-focused.jpg");
}
.project-list .summary.stash {
  background-image: url("/img/projects/square/stash-square-blurred.jpg");
}
.project-list .summary.stash:after {
  background-image: url("/img/projects/square/stash-square-focused.gif");
}
.project-list .summary.lb {
  background-image: url("/img/projects/square/lb-square-blurred.jpg");
}
.project-list .summary.lb:after {
  background-image: url("/img/projects/square/lb-square-focused.jpg");
}

.page.about #content {
  padding: 36em 0 4em;
  background-image: url(/img/pages/about-bg-mobile.jpg);
  background-position: 65% 0;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 972px) {
  .page.about #content {
    background-image: url(/img/pages/about-bg-high.jpg);
  }
}
.page.about #content h1 {
  font-size: 5rem;
}
