.blog-entry {
	h1 {
		font-size: 3.4rem;
	}

}
.page.blog #content {
	margin-bottom: 4em;
}
.blog.entry {
  blockquote {
    &.small {
      margin: 20px 20px 20px 20px;
      width: 100%;
      float: left;
      @include respond-to(wide-screens) {
        margin: 20px 20px 20px -20%;
        width: 50%;
      }
    }
    span {
      text-transform: uppercase;
      display: block;
      letter-spacing: 0.2em;
      font-size: 14px;
      margin-top: 15px;
      color: transparentize($color-grey, 0.3);
    }

    &:before {
      content: '\201C';
      font-size: 60px;
      color: transparentize($color-grey, 0.7);
      width: 30px;
      top: 34px;
      position: relative;
      right: 10px;
      margin-left: -27px;
    }
  }
}

body.comfort-is-overrated {
  background: #000;
  color: white;
  .comfort-logo {
    display: block;

  }
  .entry {
    p, h1, h2, ul, li {
      color: #dadada;
    }  
    h1 {
      color: #fff;
      display: none;
      &.headline {
        display: block;
      }
    }
  }
  
}