@import "modules/shortcuts";
body {
  background: transparentize ($color-bg, 0.2);
  text-rendering: optimizeLegibility;
}

#content {
  padding: 1em 0 0;
  @include respond-to(wide-screens) {
    padding: 4em 0 0;
  }
}
// Base styles
.entry {
  h1 {
    @include type($family: $type-display, $size: 36px, $weight: 900);
    margin-bottom: 20px;
  }
  h2 {
    @include type($family: $type-serif, $size: 24px, $weight: 900);
    margin: 1.5em 0 0.55em;
  }
  h3 {
    @include type($family: $type-sans, $size: 22px, $weight: bold, $line-height: 24px, $color: $color-grey, $transform: none);
    margin: 1.2em 0 0.3em;
    letter-spacing: 0;
  }
  h4 {
    @include type($family: $type-sans, $size: 16px, $weight: bold, $line-height: 24px, $color: $color-grey, $transform: uppercase);
    margin: 20px 0 5px;
    letter-spacing: 0.2em;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  p {
    font-family: $type-serif;
    font-size: 22px;
    line-height: 30px;
    color: $color-grey;
    margin: 0 0 18px;
  }
  ul, ol {
    margin: 0.5em 0 1em;
    padding: 0;
    li {
      @include type($family: $type-sans);
      font-size: 18px;
      line-height: 26px;
      list-style-type: disc;
      margin: 0 0 10px 1em;
      padding: 0;
      @include respond-to(wide-screens) {
        margin: 0 0 10px 0;
      }
    }
  }

  blockquote {
  }
  a, a:active, a:visited {
    color: $color-action;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);;
  }
  a:hover, a:active {
    color: darken($color-action, 20%);
  }
  a:hover, a:focus {
    color: darken($color-action, 20%);
  }
  a:link {
  }

  .note {
    @include type($family: $type-sans);
    font-style: italic;
    font-size: 0.85em;
    color: lighten($color-grey, 10%);
  }
  .focus {
    @include type($family: $type-sans);
    font-size: 1rem;
  }
}

.pic {
  margin: 30px 0;
  @include box-shadow(rgba(0,0,0,0) 0px 0px 5px);
	img {
		display: block;
    @include borderBox;
	}
  p, p:first-of-type {
    width: 100%;
    padding: 0.7em;
    margin: 0;
    text-align: center;
    font: 100 italic 14px $type-sans !important;
    color: lighten($color-grey, 0.7);
    background: transparentize($color-grey, 0.9);
    @include borderBox;
    @include transition(all 0.3s ease-in-out);;
  }
  &:hover p {
    color: lighten($color-grey, 0.6);
    background: transparentize($color-grey, 0.8);
  }
  &:hover {
    @include box-shadow(rgba(0,0,0,0.15) 0px 0px 5px);
  }
}

.blog-list .summary {
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px solid transparentize($color-grey, 0.95);
  h2 {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 0.4em;
    font-family: $type-display;
  }
  p {
    font-size: 18px;
    font-family: $type-sans;
    color: $color-grey;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  time {
    margin-top: 1.5em;
    display: block;
  }
}

.entry {
  p:first-of-type {
    @include type($family: $type-sans, $size: 1.6rem, $weight: 100, $line-height: 2.3rem, $color: $color-grey);
    @include respond-to(wide-screens) {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
      @include respond-to(medium-screens) {
        font-size: 1.5rem;
line-height: 1.9rem;

      }
  }
}

.blog.entry {
  h1 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }
  time {
    margin-bottom: 2rem;
  }
}

time {
  font-family: $type-sans;
  font-style: italic;
  font-size: 0.9em;
  color: lighten($color-grey, 40%);
}

.sidebar {
  @include transition(all 0.3s ease-in-out);;
  p, p:first-of-type {
    font-family: $type-serif;
    font-size: 18px;
    line-height: 30px;
    color: lighten($color-grey, 10%);
    margin: 0 0 18px;
  }
  ul li {
    font-size: 18px;
  }
  .pic {
    margin-top: 0;
  }
}


.ks {
  background-color: #2bde73;
  color: #fff;
  padding: 20px 5%;
  .description {
    width: 60%;
    float: left;
    @include respond-to(handhelds) {
      width: 100%;
      float: none;
    }
    @include respond-to(medium-screens) {
      width: 100%;
      float: none;
    }
  }
  a {
    color: #fff;
  }
  .wrap {
    max-width: 1000px;
    margin:0 auto;
    @include clearfix;
  }
  h1 {
    color: #fff;
    text-align: left;
    font-size: 36px !important;
    line-height: 36px;
    margin-bottom: 0px !important;
    text-align: left !important;
    margin-top: 5px;
    font-weight: bold !important;
    font-family: $type-sans !important;
  }
  h3 {
    text-align: left !important;
    font-size: 18px !important;
    line-height: 22px;
    margin-bottom: 15px;
    font-style: normal !important;
    font-weight: normal !important;
  }
  .button {
    background: white;
    padding: 18px 20px;
    font-size: 20px;
    color: #2bde73;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    float: left;
    @include border-radius(3px);
    @include respond-to(medium-screens) {
      display: block;
    }
    @include respond-to(handhelds) {
      display: block;
    }
  }
  h1, h3, .button {
    @include respond-to(handhelds) {
      text-align: center;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-to(medium-screens) {
      text-align: center;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .button {
    float: right;
    width:30%;
    margin-left: 5%;
    text-align: center;
  }
  .ks-embed {
    float: left;
     width:30%;
     margin-right: 5%;
     @include respond-to(handhelds) {
      width: 100%;
      margin: 0 auto;
      float: none;
     }
     @include respond-to(medium-screens) {
      width: 100%;
      margin: 0 auto;
      float: none;
     }
  }
}
