@import "modules/shortcuts";
body {
  background: transparentize ($color-bg, 0.2);
  text-rendering: optimizeLegibility;
}

#content {
  padding: 1em 0;
  @include respond-to(wide-screens) {
    padding: 4em 0;
  }
}

.entry {
  h1 {
  @include type($family: $type-display, $size: 36px, $weight: 900);
    margin-bottom: 20px;
  }
  h2 {
    @include type($family: $type-display, $size: 36px, $weight: 900);
  }
  h3 {
    @include type($family: $type-sans, $size: 16px, $weight: bold, $line-height: 24px, $color: $color-grey, $transform: uppercase);
    margin-top: 10px;
    letter-spacing: 0.2em;
  }
  h4 {
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  p {
    font-family: $type-serif;
    font-size: 22px;
    line-height: 30px;
    color: $color-grey;
    margin: 0 0 18px;
  }
  ul, ol {
    margin: 0.5em 0.5em 1em;
    padding: 0;
    li {
      @include type($family: $type-sans);
      font-size: 18px;
      line-height: 30px;
      list-style-type: disc;
      margin: 0;
      padding: 0;
    }
  }
  @include respond-to(mobile) {
    ul {
      margin: 20em 0 1em 0;
    }
  }

  ul {
    li {
    }
  }
  ol {
    li {
    }
  }
  li {
    ul, ol {
    }
  }

  blockquote {
  }
  a, a:active, a:visited {
    color: $color-action;
    text-decoration: none;
    @include baseTransition;
  }
  a:hover, a:active {
    color: darken($color-action, 20%);
  }
  a:hover, a:focus {
    color: darken($color-action, 20%);
  }
  a:link {
  }

  .note {
    @include type($family: $type-sans);
    font-style: italic;
    font-size: 0.85em;
    color: lighten($color-grey, 10%);
  }
}

.pic {
  margin: 30px 0;
  @include box-shadow(rgba(0,0,0,0) 0px 0px 5px);
	img {
		display: block;
    @include borderBox;
	}
  p, p:first-of-type {
    width: 100%;
    padding: 0.7em;
    margin: 0;
    text-align: center;
    font: 100 italic 14px $type-sans !important;
    color: lighten($color-grey, 0.7);
    background: transparentize($color-grey, 0.9);
    @include borderBox;
    @include baseTransition;
  }
  &:hover p {
    color: lighten($color-grey, 0.6);
    background: transparentize($color-grey, 0.8);
  }
  &:hover {
    @include box-shadow(rgba(0,0,0,0.15) 0px 0px 5px);
  }
}

.blog-list .summary {
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px solid transparentize($color-grey, 0.95);
  h2 {
    font-size: 2rem;
    margin-bottom: 0.4em;
    font-family: $type-display;
  }
  p {
    font-size: 18px;
    font-family: $type-sans;
    color: $color-grey;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  time {
    margin-top: 1.5em;
    display: block;
  }
}

.entry {
  p:first-of-type {
    @include type($family: $type-sans, $size: 1.6rem, $weight: 100, $line-height: 2.3rem, $color: $color-grey);
    @include respond-to(wide-screens) {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
      @include respond-to(medium-screens) {
        font-size: 1.5rem;
line-height: 1.9rem;

      }
  }
}

.blog.entry {
  h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  time {
    margin-bottom: 2rem;
  }
}

time {
  font-family: $type-sans;
  font-style: italic;
  font-size: 0.9em;
  color: lighten($color-grey, 40%);
}

.sidebar {
  @include baseTransition;
  p, p:first-of-type {
    font-family: $type-serif;
    font-size: 18px;
    line-height: 30px;
    color: lighten($color-grey, 10%);
    margin: 0 0 18px;
  }
  ul li {
    font-size: 18px;
  }
  .pic {
    margin-top: 0;
  }
}



