.project {
	.pic {
		border: 1px solid darken($color-tan, 14%);
		border-bottom: 0;
		img {
			display: block;
		}
	}
}
.project-entry{
	margin-bottom: 80px;
	padding: 0;
	@include borderBox;
	.project-info {
		background: $color-white;
		border: 1px solid darken($color-tan, 14%);
		border-top: 0;
		margin: 0;
		padding-top: 80px;
		padding-bottom: 80px;
		.details {
			p {
				font-size: 18px;
				line-height: 20px;
			}
		}
		
		.description {
			@include type($family: $type-sans, $size: 18px, $line-height: 24px, $color: $color-grey);
			a {
				display: block;
				font-weight: bold;
			}
		}
	}
}