#footer {
	clear: both;
  margin-top: 2em;
  padding: 6em;
  width: 100%;
  float: left;
  // background: $color-grey;
  @include borderBox;
  p {
    color: $color-grey;
    text-align: center; 
    font-size: 14px;
  }
}