#header {
	// background: $color-white;
	padding: 20px 0;
	margin-bottom: 80px;
	color: $color-purp;
	background: rgba(255,255,255,0.9);
	// position: fixed;
	width: 100%; 
	z-index: 2;
	top: 0;
	#logo {
		text-align: left;
		h1 {
			font-size: 18px;
			line-height: 48px;
			margin: 0;
			float: left;
		}
		
		h2 {
			@include type($family: $type-sans, $size: 22px, $weight: 100, $line-height: 42px, $color: $color-grey);
			float: right;
		}
	}
	nav { 
		float: right;
		width: 40%;
		@include type($family: $type-sans, $size: 22px, $weight: 100, $line-height: 42px, $color: $color-grey);
		li { 
			display: inline;
			padding: 6%;
		}
	}
}