body {
	// border-top: 88px solid #58d8e3; 
}
#header {
	//position: absolute;
	text-align: center;
	.nav {
		text-align: center;
		@include respond-to(wide-screens) { 
			margin: 3em auto;
			width: 50%;
		}
		@include respond-to(medium-screens) { 
			width: 80%;
		}
		li {
			display: inline-block;
			float: none;
			margin: 1em 0;
			width: auto;
			// @include baseTransition;
			transition: width 0.2s;
			transition-delay: 0.3s;
			padding: 10px;
			font-family: $type-sans;
			font-size: 20px;
			font-weight: 500px;
			@include respond-to(wide-screens) { 
				margin: 1em;
			}
			a {
				color: $color-grey;
				&:hover {
					color: $color-black;
				}
			}

			&.logo {
				font-family: $type-display;
				font-size: 16px;
				text-align: center;
				// @include baseTransition;
				@include respond-to(wide-screens) { 
					width: 60px;
				}
				&:hover {
					@include respond-to(wide-screens) { 
						width: 160px;
						transition-delay: 0.3s;
					}
				}
				a {
					// background: $color-red;
					border: 3px solid $color-red;
					// color: $color-white;
					color: $color-red;
					padding: 10px 10px 8px;
					display: block;
					// @include baseTransition;
				}
				
				strong {
					font-weight: normal;
					display: inline;
					float: none;
					@include baseTransition;
				}
				em {
					@include respond-to(handhelds) { }
					@include respond-to(medium-screens) { }
					@include respond-to(wide-screens) {  
						display: inline-block;
						float: none;
						opacity: 0; 
				    height: 0;
				    width: 0;
						// @include baseTransition;
						// transition-delay: 0;
						transition: width 0.4s;
					}
				}
			}
			&.logo:hover em {
				display: inline-block;
				opacity: 1;
				height: auto;
				width: 100px;
				// @include baseTransition;
				
				transition: opacity 0.8s 0s ease-in, height 0.4s 0 ease-in, width 0.4s 0 ease-in, margin 0.1s 0 ease-in;
				transition-delay: 0.4s;
				// width: 140px;
				&.ave {
					width: 20px;
					margin-right: 10px;
				}
				&.awson {
					width: 50px;
					margin-left: 0px
				}
			}
		}
	}
	#logo {
		h1 a{
			background: $color-red;
			color: $color-white;
			text-align: center;
		// 	font-size: 18px;
		// 	line-height: 48px;
		// 	margin: 0;
		// 	float: left;
		}
	}
}
