.layout-home, .layout-ooh {
  // background: $color-dark-grey;
  background: #233a4a;
  color: #fff;
  #content, .container {
    // height: 100%;
  }
  #content {
    padding-top: 0;
    @include clearfix;
  }
  .title-wrap {
    height: 100%;
    // background: #1b1d1d;
    padding: 200px 0 0px;
    // @include center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 60px;
    ul {
      text-align: center;
      margin-top: 12px;
      li {
        font-size: 18px;
        line-height: 24px;
        display: inline;
        color: $color-light-text-on-dark;
        &:after {
          content: "•";
          padding: 20px;
          color: #575757;
        }
        &:last-child:after {
          content: "";
          padding: 0;
        }
      }
    }
  }
  .waving {
    text-align: center;
    font-size: 45px;
    width: 100%;
    display: block;
  }
  h1 {
    text-align: center;
    max-width: 600px;
    margin: 40px auto 40px;
    img {
      width: 100%;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
  }
  .profile {
    // background: $color-super-dark-grey;
    
    // padding: 40px;
    text-align: left;
    position: relative;
    
    @include respond-to(medium-and-above) {
      margin: 100px auto 200px;
      // @include gs-span(d, 4, 9);  
    }
    @include respond-to(wide-screens) {
      // @include gs-span(d, 5, 8);  
    }
    @include respond-to(medium-and-above) {
        // position: relative;
        // left: 7%;
      }
    img {
      // border-radius: 150px;
      // margin-top: -40%;
      // max-width: 250px;
      width: 100%;
      margin: 0 auto;
      max-width: 300px;
    }
    .img-wrap {
      position: relative;
      margin: 30px 10% 30px;
      
      text-align: center;
      @include respond-to(medium-and-above) {
        margin: auto;
        max-width: none;
        @include gs-span(d, 8, 11);  
        position: relative;
        z-index: 2;
        // top: 100px;
        // float: left;
        // right: auto;
        // left: -15%;
        // top: auto;
        // width: 20%;
      }
    }
    p {
      color: $color-light-text-on-dark;
      // color: $color-grey;
      // margin-top: 20px;
      border-radius: 8px;
      // background: $color-super-dark-grey;
      
      // border: 2px solid #fff;
      
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      @include respond-to(medium-and-above) {
        padding: 40px;
        background: rgba(255,255,255,0.1);
        text-align: left;
      }
      strong {
        color: #fff;
        // color: $color-grey;
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
      }
      &.intro {
        @include respond-to(medium-and-above) {
          @include gs-span(d, 3, 7);  
          position: relative;
          margin-top: 30px;
          margin-bottom: -20px;
        }
        position: relative;
      }
      &.detail {
        clear: both;
        text-align: center;
        margin-top: 30px;
        @include respond-to(medium-and-above) {
          margin-top: 0;
          @include gs-span(d, 4, 9);  
        }
        a {
          color: #fff;
          // font-weight: bold;
        }
        
      }
      @include respond-to(medium-and-above) {
          // margin-left: 10%;
          // float: left;
          // width: 66%;
        }
    }
    &.long {
      // background: #fff;
      // border-radius: 3px;
      
      
      .img-wrap {
        
      }
      p {
        
        
        
      }
      @include respond-to(medium-and-above) {
        
      }
      @include respond-to(wide-screens) {
        // @include gs-span(d, 5, 8);  
      }
      p {
        // color: $color-super-dark-grey;  
      }
    }
  }
  .helpful-list {
    max-width: 900px;
    margin: 0 auto;

    .row {
      @include respond-to(medium-and-above) {
        clear: both;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
      }
    }
    .item {
      // flex: 1;
      // border: 2px solid rgba(255,255,255,0.3);
      border: 2px solid #fff;
      padding: 30px 50px 50px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      &:hover {
        border-color: #fff;
      }

      @include respond-to(medium-and-above) {
        // @include gs-span(d, 1, 6);
        width: 48.51074%;
        float: left;
      }  
      &:nth-child(even) {
        @include respond-to(medium-and-above) {
          // @include gs-span(d, 7, 12);
          margin-left: auto;
        }  
      }
      &.cp {
        @include respond-to(medium-and-above) {
          @include gs-span(d, 1, 12);
          position: relative;
          display: flex; 
          padding-left: 0;
          .logo {
            width: 50%; 
            position: relative;
            float: left;
            .wrap {
              @include clearfix;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex; /* add */
              justify-content: center; /* add to align horizontal */
              align-items: center; /* add to align vertical */
            }
            img {
              max-width: 230px;
              @include center();  
            }
            
          }
          .description {
            width: 50%; 
            float: right;
            text-align: left; 
            margin-left: 30px;
            h2 {
              text-align: left;
            }
          }
        }
        h2 {
          font-size: 30px;
          line-height: 36px;
        }
      }
      
      .logo {
        margin: 30px auto;
        img {
          width: 100%;
          max-width: 300px;
        }
      }

      &.usa {
        img {
          margin-top: -15px;
        }
        .cta a {
          font-style: italic;
          font-weight: 100;
        }
      }

      &.get-biked {
        img {
          max-width: 150px;  
        }
      }

      &.the-agency {
        img {
          margin-top: -30px;
          max-width: 120px;  
        }
      }

      h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 100;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: $color-light-text-on-dark;
      }
      a {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
      }

      .cta {
        color: #fff;
        margin: 30px 0 0 0;
        a { 
          color: #fff
        }
      }

      &.cp {

      }
      a {
        color: #fff;
      }
    }
  }
  #footer {
    margin-top: 30px;
    p { 
      color: $color-light-text-on-dark;
    }
    span {
      color: #575757;
    }
  }
}