.layout-home, .layout-ooh {
  background: $color-dark-grey;
  color: #fff;
  #content, .container {
    // height: 100%;
  }
  #content {
    padding-top: 0;
    @include clearfix;
  }
  .title-wrap {
    height: 100%;
    // background: #1b1d1d;
    padding: 200px 0 0px;
    // @include center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 60px;
    ul {
      text-align: center;
      margin-top: 12px;
      li {
        font-size: 18px;
        line-height: 24px;
        display: inline;
        color: $color-light-text-on-dark;
        &:after {
          content: "•";
          padding: 20px;
          color: #575757;
        }
        &:last-child:after {
          content: "";
          padding: 0;
        }
      }
    }
  }
  .waving {
    text-align: center;
    font-size: 45px;
    width: 100%;
    display: block;
  }
  h1 {
    text-align: center;
    max-width: 600px;
    margin: 40px auto 40px;
    img {
      width: 100%;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
  }
  .profile {
    background: $color-super-dark-grey;
    border-radius: 14px;
    padding: 40px;
    text-align: center;
    position: relative;
    margin: 200px auto 0;
    @include respond-to(medium-and-above) {
      @include gs-span(d, 4, 9);  
    }
    @include respond-to(wide-screens) {
      @include gs-span(d, 5, 8);  
    }
    img {
      border-radius: 150px;
      // margin-top: -40%;
      max-width: 120px;
    }
    .img-wrap {
      position: absolute;
      left: 0;
      right: 0;
      top: -80px;
      width: 100%;
      text-align: center;
    }
    p {
      color: $color-light-text-on-dark;
      font-size: 14px;
      line-height: 22px;
      margin-top: 20px;
    }
  }
  .helpful-list {
    max-width: 900px;
    margin: 0 auto;

    .row {
      @include respond-to(medium-and-above) {
        clear: both;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
      }
    }
    .item {
      // flex: 1;
      // border: 2px solid rgba(255,255,255,0.3);
      border: 2px solid #fff;
      padding: 30px 50px 50px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      &:hover {
        border-color: #fff;
      }

      @include respond-to(medium-and-above) {
        // @include gs-span(d, 1, 6);
        width: 48.51074%;
        float: left;
      }  
      &:nth-child(even) {
        @include respond-to(medium-and-above) {
          // @include gs-span(d, 7, 12);
          margin-left: auto;
        }  
      }
      &.cp {
        @include respond-to(medium-and-above) {
          @include gs-span(d, 1, 12);
          position: relative;
          display: flex; 
          padding-left: 0;
          .logo {
            width: 50%; 
            position: relative;
            float: left;
            .wrap {
              @include clearfix;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex; /* add */
              justify-content: center; /* add to align horizontal */
              align-items: center; /* add to align vertical */
            }
            img {
              max-width: 230px;
              @include center();  
            }
            
          }
          .description {
            width: 50%; 
            float: right;
            text-align: left; 
            margin-left: 30px;
            h2 {
              text-align: left;
            }
          }
        }
        h2 {
          font-size: 30px;
          line-height: 36px;
        }
      }
      
      .logo {
        margin: 30px auto;
        img {
          width: 100%;
          max-width: 300px;
        }
      }

      &.usa {
        img {
          margin-top: -15px;
        }
        .cta a {
          font-style: italic;
          font-weight: 100;
        }
      }

      &.get-biked {
        img {
          max-width: 150px;  
        }
      }

      &.the-agency {
        img {
          margin-top: -30px;
          max-width: 120px;  
        }
      }

      h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 100;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: $color-light-text-on-dark;
      }
      a {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
      }

      .cta {
        color: #fff;
        margin: 30px 0 0 0;
        a { 
          color: #fff
        }
      }

      &.cp {

      }
      a {
        color: #fff;
      }
    }
  }
  
}