.page.about #content {
	padding: 36em 0 4em;
	background-image: url(/img/pages/about-bg-mobile.jpg);
	background-position: 65% 0;
	background-repeat: no-repeat;
	@include respond-to(wide-screens) {
		background-image: url(/img/pages/about-bg-high.jpg);
	}
	h1 {
		font-size: 5rem;
	}
}

.page.open-office-hours {
	.title-wrap {
		a {
			margin: 0 auto;
			text-align: center;
			display: inline-block;
			background: #fff;
			color: $color-dark-grey;
			padding: 15px 25px;
			// text-transform: uppercase;
			// letter-spacing: 0.1em;
		}
	}
}