.page--about- #content {
	padding: 36em 0 4em;
	background-image: url(/img/pages/about-bg-mobile.jpg);
	background-position: 65% 0;
	background-repeat: no-repeat;
	@include respond-to(wide-screens) {
		background-image: url(/img/pages/about-bg-high.jpg);
	}
	h1 {
		font-size: 5rem;
	}
}