.project-specific {

}



.impact {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 300px;
	@include respond-to(wide-screens) {
		height: 694px;
	}
	@include respond-to(medium-screens) {
		height: 400px;
	}
	.large {
		// width: 100%;
		height: 850px;
		overflow: hidden;
		position: absolute;
	}
}
.browser {
	width: 82.1601%;
  margin-left: 8.8815%;
  top: 40px;
  position: relative;
	background: #dcdcdc;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	@include box-shadow(rgba(0,0,0,0.25) 0px 0px 40px);
	img {
		display: relative;
		max-width: 100%;
		width: overflow;
		//max-height: 1000px;
	}
	.chrome {
		padding: 10px;
		@include borderBox;
		.url {
			background: #eeeeee;
			padding: 4px 10px;
			@include borderRadius;
			@include transition(all 0.3s ease-in-out);;
			&:hover {
				background: $color-white;
			}
			p {
				margin: 0;
				@include type($family: $type-sans, $size: 11px, $line-height: 18px, $color: lighten($color-grey, 0.7));			}
			a {
				font-size: 15px;
				line-height: 18px;
				position: relative;
				color: #a8a8a8;
				width: 100%;
				display: block;
				margin-top: 4px;
			}
			a:hover .url {
				background: $color-white;
			}
		}
	}
}

.nav-wrap {
	h2 {
		text-align: center;
		margin-bottom: 2em;
		@include respond-to(wide-screens) {
			display: none;
		}
	}
}
.page-navigation {
	position: static !important;
	border-top: 3px solid transparentize($color-grey, 0.6);
	@include type($family: $type-sans, $size: 18px, $line-height: 14px, $color: #a8a8a8);
	@include respond-to(wide-screens) {
		&.scroll-to-fixed-fixed {
			position: fixed!important;
		}
		margin-top: 6em;
		padding-top: 3em;
		border: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
	@include respond-to(medium-screens) {
		&.scroll-to-fixed-fixed {
			position: static !important;
		}
	}

	.wrap {
		// width:400px;
		background: lighten($color-tan, 0.8);
		margin: 0 auto;
	}

	/*
	.left {
		float: left;
	}
	.right {
		float: right;
		text-align: right;
	} */
	.left, .right {
		width: 100%;
		float: none;
		@include respond-to(wide-screens) {
			width: 50%;
			float: left;
		}
	}
	.left {
		@include respond-to(wide-screens) {
			text-align: right;
		}
	}

	.left .arrow, .right .arrow {
		@include transition(all 0.3s ease-in-out);;
		display: block;
		background: transparent;
		margin: 30px auto;
		text-align: center;
		@include respond-to(wide-screens) {
			width: 100%;
			padding: 15px;
			display: inline-block;
			float: right;
			background: #f8f8f5;
			color: $color-grey;
			line-height: 1.2em;
			margin: 0;
			// opacity: 0.3;
			@include borderBox;
		}
		strong {
			display: none;
			@include respond-to(wide-screens) {
				display: block;
				float: left;
				margin: 0 5px;
			}
		}
		span {
			@include transition(all 0.3s ease-in-out);;
			@include respond-to(wide-screens) {
				display: none;
				width: 0;
				opacity: 0;
				font-size: 14px;
				position: relative;
				top: 1px;
				@include transition(all 0.3s ease-in-out);;
			}
		}
		&:hover {
			opacity: 1;
			@include transition(all 0.3s ease-in-out);;
			@include respond-to(wide-screens) {
				background: darken(#f8f8f5,10%);
			}
		}
		&:hover span {
			@include respond-to(wide-screens) {
				display: block;
				float: left;
				width: auto;
				opacity: 1;
				@include transition(all 0.3s ease-in-out);;
			}
		}
	}
	.left .arrow {
		@include respond-to(wide-screens) {
			float: left;
			border-right: 1px solid darken(#f8f8f5,10%);
			span {
				float: right !important;
			}
			strong {
				float: right;
			}
		}
	}
}