$pih: "/img/projects/large/pih-large.jpg";
$ndnf: "/img/projects/large/ndnf-large.jpg";
.project-specific {
  padding-top: 0;
  margin-bottom: 6em;
  @include borderBox;
  .intro {
    text-align: center;
    padding: 1em 5% 4em;
    // background: transparentize($color-tan, 0.8);
    font-family: $type-display;
    @include respond-to(medium-screens) {
      padding: 4em 5%;
    }
    p {
      width: 70%;
      margin: 0 auto;
      @include type($family: $type-sans, $size: 1rem, $weight: 100, $line-height: 1.4em, $color: transparentize($color-grey, 0.3));
      @include respond-to(wide-screens) {
        font-size: 1.6rem;
      }
      @include respond-to(medium-screens) {
        font-size: 1.2rem
      }
    }
    h1 {
      font-size: 3rem;
      line-height: 3.1rem;
      margin-bottom: 0.3rem;
      @include baseTransition;
      @include respond-to(wide-screens) {
        font-size: 5.6rem;
        line-height: 6.7rem;
        margin-bottom: 1.1rem;
      }
      @include respond-to(medium-screens) {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }

    }
  }
  .details {
    background: transparentize($color-tan, 0.8);
    width: 100%;
    margin: 0;
    padding: 1em;
    @include borderBox;
    li {}
    p {
      font-size: 18px;
      line-height: 20px;
    }
    h3 {
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      color: lighten($color-grey, 20%);
    }
  }
  .beef {
    margin-top: 2rem;
    @include respond-to(medium-screens) {
      margin-top: 6rem;
    }

  }
  .project-info {
    // background: $color-white;
    // border: 1px solid darken($color-tan, 14%);
    border-top: 0;
    margin: 0;

    .description {
      @include type($family: $type-sans, $size: 18px, $line-height: 24px, $color: $color-grey);
      a {
        display: block;
        font-weight: bold;
      }
    }
  }
  .impact {
    background-size: cover;
    background-color: $color-grey;
  }
  /*
  &.pih {
    .impact {
      background: url("/img/projects/large/pih-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.ndnf {
    .impact {
      background: url("/img/projects/large/ndnf-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.fdr {
    .impact {
      background: url("/img/projects/large/fdr-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.arm {
    .impact {
      background: url("/img/projects/large/arm-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.hrc {
    .impact {
      background: url("/img/projects/large/hrc-large.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &.at {
    .impact {
      background: url("/img/projects/large/at-large.jpg") center no-repeat;
      background-size: cover;
    }
  } */
}
.project-list {
  .summary {
    position: relative;
    width: 100%;
    overflow: hidden;
    // min-height: 250px;
    height: 200px;
    margin: 4% 0;
    background: #000;
    background-size: cover;
    z-index: 1;
    @include borderBox;
    @include baseTransition;
    @include respond-to(wide-screens) {
      width: 46.6225%;
      float: left;
      margin: 1.68875%;
      height: 30em;
      background-size: cover;
      background-position: center;
      &:after {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        -moz-transition:    opacity 0.5s;
        -o-transition:      opacity 0.5s;
      }
      &:hover:after {
        opacity: 1;
      }
    }
    @include respond-to(medium-screens) {
      width: 100%;
      float: none;
      height: 20em;
      margin: 1.68875% 0;
    }
    .thumb {
      display: table;
      text-align: center;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 4;
      .wrap {
        display: table-cell;
        vertical-align: middle;
        position: relative;
      }
    }
    .large {
      width: 100%;
      margin: -5%;
      // position: absolute;
    }
    .logo {
      width: 60%;
      display: block;
      background-size: contain;
      background-position: center;
      margin: 0 auto;
      min-height: 150px;
      position: relative;
      z-index: 3;
      -webkit-filter: drop-shadow(0px 0px 45px rgba(0,0,0,0.3));
      filter: drop-shadow(0px 0px 45px rgba(0,0,0,0.3)); /* Same syntax as box-shadow */
      @include respond-to(wide-screens) {
      }
    }
    &.pih {
      background-image: url("/img/projects/square/pih-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/pih-square-focused.jpg");
      }
    }
    &.ndnf {
      background-image: url("/img/projects/square/ndnf-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/ndnf-square-focused.jpg");
      }
    }
    &.fdr {
      background-image: url("/img/projects/square/fdr-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/fdr-square-focused.jpg");
      }
    }
    &.arm {
      background-image: url("/img/projects/square/arm-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/arm-square-focused.jpg");
      }
    }
    &.hrc {
      background-image: url("/img/projects/square/hrc-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/hrc-square-focused.jpg");
      }
    }
    &.at {
      background-image: url("/img/projects/square/at-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/at-square-focused.jpg");
      }
    }
    &.wntd {
      background-image: url("/img/projects/square/wntd-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/wntd-square-focused.jpg");
      }
    }
    &.filmlinc {
      background-image: url("/img/projects/square/filmlinc-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/filmlinc-square-focused.jpg");
      }
    }
    &.surfrider {
      background-image: url("/img/projects/square/surfrider-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/surfrider-square-focused.jpg");
      }
    }
    &.rb {
      background-image: url("/img/projects/square/rb-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/rb-square-focused.jpg");
      }
    }
    &.stash {
      background-image: url("/img/projects/square/stash-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/stash-square-focused.gif");
      }
    }
    &.lb {
      background-image: url("/img/projects/square/lb-square-blurred.jpg");
      &:after {
        background-image: url("/img/projects/square/lb-square-focused.jpg");
      }
    }
  }
}



