body {
	@include type($family: $type-sans);
	// background: transparentize($color-tan, 0.8);
	background: $color-white;
	text-legibility: optimizeLegibility;
	font-size: 16px;
	line-height: 20px;
}
a {
	text-decoration: none;
	color: $color-action;
	@include transition(all 0.3s ease-in-out);;
}
a:hover {
	color: darken($color-action, 10%);
}
ul, ol, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


// Standard type styles


