// color definitions for reference
$color-white			  : #ffffff;
$color-black 			  : #000000;
$color-grey				  : #444444;
$color-tan 				  : #ebebde;
$color-purp 			  : #2d0a42;
$color-red          : #bd5e24;

$break-small: 480px;
$break-medium: 480px;
$break-semi-large: 768px;
$break-large: 1024px;

$radius: 3px;