// color definitions for reference
$color-white			  : #ffffff;
$color-black 			  : #000000;
$color-grey				  : #444444;
$color-dark-grey	  : #252727;
$color-light-text-on-dark: #bdbfbf;
$color-tan 				  : #ebebde;
$color-purp 			  : #2d0a42;
$color-action          : #0095a1;
$color-bg           : #faf9f3;
$break-small: 480px;
$break-medium: 480px;
$break-semi-large: 768px;
$break-large: 1024px;

$radius: 3px;