// Variables

$typeSans: "urw-din", Helvetica, Arial, sans-serif;
$typeSerif: "skolar-latin", Georgia, Times, serif;
$typeCondensed: "Avenir Condensed", "Avenir", Helvetica, Arial, sans-serif;
$radius: 5px;

$color-light: #e4eff0;
$color-text: #444;
$color-blue: #141D4E;
$color-red: #FF3527;
$color-background: #fbfbfa;
$color-border: rgba(0,0,0,0.1);