// Variables

$typeSans: 'Poppins', Helvetica, Arial, sans-serif;
$typeSerif: Georgia, Times, serif;
$typeCondensed: "Avenir Condensed", "Avenir", Helvetica, Arial, sans-serif;
$radius: 4px;

$color-light: #e4eff0;
$color-text: #333333;
$color-color-text: #032749;
$color-accent: #E31A4E;
$color-background: #fbfbfa;
$color-borders: #e5e5e5;