// Variables

$typeSans: "Avenir", Helvetica, Arial, sans-serif;
$typeSerif: Georgia, Times, serif;
$typeCondensed: "Avenir Condensed", "Avenir", Helvetica, Arial, sans-serif;
$typeScript: Wisdom, Georgia, "Times New Roman", Times, serif;
$radius: 4px;

$color-light: #e4eff0;
$color-text: #333333;
$color-accent: #83b300;
$color-background: #fbfbfa;
$color-borders: #e5e5e5;

// Utility colors
$color-utility-default: #333;
$color-coned: #0092d0;
$color-orange-and-rockland: #f9a037;
$color-sce: #006650;
$color-connexus: #fdb728;
$color-cps: #004282;
$color-austin-energy: #f15c2b;
$color-dram-sce: #0092d0;
$color-sawnee: #008752;
$color-lge-ku: #009e48;
$color-pseg: #f26222;
$color-aps: #0081C6;
$color-nyseg: #318fce;
$color-rge: #318fce;
$color-ui: #009147;
$color-el-paso: #285fa9;
$el-paso-green: #96d51d;
$color-mvec: #0061a9;
$color-black-friday-2016: #cc0000;
$color-cyber-monday-2016: #146dc0;
