<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} &#8226; {% endif %} Dave Dawson </title>
    <link href="/images/site_elements/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://get.gridsetapp.com/5056/" rel="stylesheet" />
    <meta name="description" content="Dave Dawson is a graphic designer in New York City.">
	<!-- <link type="text/css" rel="stylesheet" href="http://www.iamdavedawson.com/styles/gridset" media="screen" /> -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.iamdavedawson.com/js/source"></script>
	<script type="text/javascript" src="http://www.iamdavedawson.com/js"></script>
	<script type="text/javascript" src="//use.typekit.net/doo4kye.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div id="main">
    <header>
      <h1> John Doe Photograghy </h1>
    <header>
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    {{ content }}
    <footer>
      <p>@copy; John Doe Photography 2011 | All Rights Reserved. </p>
    </footer>
  </div>
</body>
</html>