{% include head.html %}

  <body class="page-landing">
    
    <!-- Page borders -->
    <div class="global-header">
        <div id="left">
            <div class="title">
                <h1><a href="/">Dave Dawson</a></h1>
            </div>
        </div>
        <div id="right">
            <nav class="global">
                <ul>
                    <li><a href="">Work</a></li>
                    <li><a href="">Adventures</a></li>
                    <li><a href="">Writing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div id="top"></div>
        <div id="bottom"></div>
    </div>

    <div class="page-content">
        <div class="global-header">
            
        </div>
        <section class="intro">
            <ul class="activities" data-flickity='{ "contain": false, "fade": true, "prevNextButtons": false, "pageDots": false }'>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to help</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to eat pizza</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to dig into the details</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to push ideas</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to ride bikes</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to keep it moving</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Here to spread love</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://via.placeholder.com/400x570.png" alt="" />
                        <h3>Happy to be here</h3>
                    </div>
                </li>
            </ul>
        </section>
        <section class="overview">

        </section>
        <section class="work-areas">
            
        </section>

        <!-- <div class="container"> -->
            {% unless layout.class == "four-oh-four" or  layout.class == "closed" %}
                {% include header.html %}
            {% endunless %}
            <div class="page-content w-100 cf">
            
                
                
            </div>
        <!-- </div> -->
        {% include footer.html %}
        </div>	  
  </body>

</html>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">