---
layout: default
---
<div class="project">
  <div class="intro">
  	<h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.description}}</p>
  </div>1
  <div class="pic">
    <a href="{{ page.url }}" class="cf">
      <img src="{{ page.short-image }}" />
    </a>
  </div>
  

  <div class="project-entry">
    <div class="project-info cf">
        <div class="details d1-d2">
          <h3>Client</h3>
          <p>{{ page.client }}</p>
          <h3>Role</h3>
          <p>{{ page.role }}</p>
          <h3>Team</h3>
          <p>{{ page.team }}</p>
          <h3>Live Site</h3>
          <p><a href="{{ page.live-site }}">{{ page.live-site }}</a></p>
        </div>

        <div class="project-content d3-d6">
          {{ content }}
        </div>
    </div>
  </div>
</div>