---
layout: default
---
<div class="project-entry">
  <div class="intro">
    <div class="container">
    	<h1>{{ page.title }}</h1>
      <p class="subtitle">{{ page.description}}</p>
    </div>
  </div>
<!--   <div class="pic">
    <a href="{{ page.url }}" class="cf">
      <img src="{{ page.short-image }}" />
    </a>
  </div>
-->
<div class="impact {{ page.class }}"> 
  <img src="{{ page.large-image }}" alt="{{ page.title }}" class="large blur" />
  <div class="container">
    <div class="browser">
      <div class="chrome">
        <div class="url">
          <p><a href="http://{{ page.live-site }}">{{ page.live-site }}</a></p>
        </div><!-- /.url -->
      </div><!-- /.chrome -->  
      <div class="page">
        <img src="{{ page.website-image }}" alt="{{ page.title }}" />
      </div><!-- /.page -->
    </div><!-- /.browser -->
  </div><!-- /.container -->
</div>


  <div class="container beef">
    <div class="project-info cf">
        <div class="details d2-d4">
          <h3>Client</h3>
          <p>{{ page.client }}</p>
          <h3>Role</h3>
          <p>{{ page.role }}</p>
          <h3>Team</h3>
          <p>{{ page.team }}</p>
          <h3>Live Site</h3>
          <p><a href="http://{{ page.live-site }}">{{ page.live-site }}</a></p>
        </div>

        <div class="project-content d5-d11">
          {{ content }}
        </div>
    </div>
  </div>
</div>