---
layout: default
---
<div class="project-specific {{ page.class }}">
  <div class="intro">
    <div class="container">
    	<h1>{{ page.title }}</h1>
      <p class="subtitle">{{ page.description }}</p>
    </div>
  </div>
<!--   <div class="pic">
    <a href="{{ page.url }}" class="cf">
      <img src="{{ page.short-image }}" />
    </a>
  </div>
-->
<div class="impact {{ page.class }}"> 
  <div class="container">
    <div class="browser">
      <div class="chrome">
        <div class="url">
          <p><a href="http://{{ page.live-site }}">{{ page.live-site }}</a></p>
        </div><!-- /.url -->
      </div><!-- /.chrome -->  
      <div class="page">
        <img src="{{ page.website-image }}" alt="{{ page.title }}" />
      </div><!-- /.page -->
    </div><!-- /.browser -->
  </div><!-- /.container -->
</div>


  <div class="container beef">
    <div class="project-info cf">
        <div class="details d2-d4">
          <h3>Client</h3>
          <p>{{ page.client }}</p>
          <h3>Role</h3>
          <p>{{ page.role }}</p>
          <h3>Team</h3>
          <p>{{ page.collaborators }}</p>
          <h3>Live Site</h3>
          <p><a href="http://{{ page.live-site }}">{{ page.live-site }}</a></p>
        </div>

        <div class="project-content d5-d11">
          {{ content }}
        </div>
    </div>
  </div>
</div>

<div class="page-navigation container"> 
  <h2>Check out a few other projects:</h2>
    <div class="left"> 
    {% if page.previous.url %} 
      <a href="{{page.previous.url}}" class="arrow" title="Previous Post: {{page.previous.title}}">
        <strong>&larr;</strong> <span>{{page.previous.title}}</span>
      </a> 
    {% endif %} 
    </div> 

    <div class="right"> 
    {% if page.next.url %} 
      <a href="{{page.next.url}}" class="arrow" title="next Post: {{page.next.title}}">
        <span>{{page.next.title}}</span> <strong>&rarr;</strong>
      </a> 
    {% endif %} 
    </div> 
</div> 